body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 100%, 93%);
    background-size: 100%;
    background-color: hsl(229, 57%, 11%);
    background-image: url("images/bg-mobile.png");
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    body {
        background-image: url("images/bg-desktop.png");
        background-attachment: fixed;
        background-position: bottom;
    }
}

.component {
    justify-content: center;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .component {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 30px;
    }
}

.card-icons {
    margin: 0 20px;
    padding: 35px;
    border-radius: 10px 70px 10px 10px;
    background-color: hsl(228, 56%, 26%);
}

@media (min-width: 768px) {
    .card-icons {
        width: 275px;
    }
}

.logo {
    margin-bottom: 22px;
}

.icons {
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 12px;
    border-radius:10px;
    background-color: hsl(229, 57%, 11%);
    cursor: pointer;
}

.icon:first-child {
    margin-left: 0;
}

.card-storage {
    position: relative;
    margin: 15px 20px 0;
    padding: 30px;
    padding-bottom: 35px;
    border-radius: 10px;
    background-color: hsl(228, 56%, 26%);
}

@media (min-width: 768px) {
    .card-storage {
        width: 500px;
        height: 90px;
    }
}

p {
    text-align: center;
    margin-top: 0;
}

@media (min-width: 768px) {
    p {
        text-align: left;
        margin-top: 7px;
    }
}

.bar-container {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%, 0.5);
}

.bar-progress {
    position: relative;
    margin-left: 3px;
    height: 14px;
    width: 72%;
    border-radius: 10px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.bar-marker {
    position: absolute;
    right: 3px;
    bottom: 2px;
    width: 11px;
    height: 11px;
    border-radius: 5px;
    background-color: white;
}

.bar-text {
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
}

.storage {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 125px;
    margin: 0 auto;
    padding: 15px 20px;
    font-weight: 600;
    color: hsl(229, 7%, 55%);
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .storage {
        bottom: 130px;
        right: -39%;
        border-radius: 10px 10px 0 10px;
    }

    .storage:before {
        position: absolute;
        bottom: -18px;
        right: 0;
        width: 0;
        height: 0;
        content: "";
        border-top: 10px solid white;
        border-right: 10px solid white;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
    }
}

.storage .number {
    font-size: 37px;
    color: hsl(229, 57%, 11%);
}

.storage .letters {
    font-size: 13px;
    vertical-align: super;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }